<footer>
  <div class="footer_contact">
    <h2>Contact</h2>
    <form action="/contact_post" method="post">
      <input type="email" name="contact_email" id="contact_email" />
      <textarea name="message" id="contact_message"></textarea>
      <button class="btn btn_first">
        <input class="btn_top_layer krona" type="submit" value="Send email" />
      </button>
    </form>
  </div>
  <div class="footer_social_media">
    <h2>Social Media</h2>
    <ul class="expanded_list">
      <li>Instagram</li>
      <li>X</li>
    </ul>
  </div>
  <div class="footer_sponsors">
    <h2>Sponsors</h2>
    <ul class="expanded_list">
      <li>Greemon</li>
    </ul>
  </div>
</footer>
