<div class="title_box hidden">
  <img
    class="logo_title"
    src="..\assets\images\LogoTJPBigExpanded.jpg"
    alt="The Jaguars Perspective logo big size"
  />
</div>
<div class="subtitle krona hidden">
  <h4>Coming soon...</h4>
</div>
<div class="content">
  <div class="main">
    <!-- maybe carrousel? -->
    <!-- <div class="image_container">
      <img
        class="adjusted_image"
        src="../assets/images/duval_vintage.jpeg"
        alt="best post image"
      />
    </div> -->
    <div class="text_container">
      <h2 class="cambria">This is the title of the blog/post</h2>
    </div>
  </div>
  <div class="latest">
    <ul class="expanded_list">
      <li><a href="#">Link to latest post/blog</a></li>
      <li><a href="#">Link to latest post/blog</a></li>
      <li><a href="#">Link to latest post/blog</a></li>
      <li><a href="#">Link to latest post/blog</a></li>
      <li><a href="#">Link to latest post/blog</a></li>
    </ul>
  </div>
</div>
