<button class="btn btn_first" (click)="openModal()">
  <span class="btn_top_layer lang_layer krona">
    <ng-container *ngFor="let language of languagesList; index as i"
      ><img class="flag-icon" [src]="language.imgUrl" [alt]="language.name" />
    </ng-container>

    <!-- {{ "language" | transloco }} -->
  </span>
</button>
<div class="modal" [ngClass]="{ show: isVisible }">
  <div class="modal_content language_modal">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2 class="lang_title krona">{{ "Choose your language" | transloco }}</h2>
    <ng-container *ngFor="let language of languagesList; index as i">
      <button class="btn btn_first" (click)="changeLanguage(language.code)">
        <span class="btn_top_layer krona">
          {{ language.reference | transloco }}
        </span>
      </button>
    </ng-container>
  </div>
</div>
