<nav>
  <div class="navbar_image">
    <img src="..\assets\images\LogoTJPBigExpanded.png" alt="navbar logo" />
  </div>
  <div class="navbar_buttons">
    <button class="btn_first btn krona" value="Forums">
      <span class="btn_top_layer">Forums</span>
    </button>
    <button class="btn_first btn krona" value="Blog">
      <span class="btn_top_layer">Blog</span>
    </button>
    <button class="btn_first btn krona" value="About us">
      <span class="btn_top_layer">About us</span>
    </button>
    <button class="btn_first btn krona" value="Login">
      <span class="btn_top_layer">Login</span>
    </button>
    <app-language-selector></app-language-selector>
  </div>
</nav>
<div class="colors_bars">
  <div class="black_bar"></div>
  <div class="gold_bar"></div>
  <div class="teal_bar"></div>
</div>
